body{
    background-image: url("https://w0.peakpx.com/wallpaper/311/864/HD-wallpaper-harry-potter-books-harry-potter.jpg");
    background-attachment: fixed;
    opacity: 2;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  
}
#qu{
    font-family: 'Harry Potter', sans-serif;
   color: black;
   font-weight: bolder;
   font-size: 50px;
   text-align: center;
}
#BOOKS{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
   
}
.book1{
    background-color:beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
  }
.book2{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book3{
    background-color: beige;
    border-radius:100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book4{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book5{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book6{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book7{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
.book8{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
