body{
    background-image:url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    margin: 40px;
}
#img1{
   
    width: 30%;
}
#img2{
   float: right;
    width: 20%;
}
.product{
   display: flex; 
   justify-content: center;
}  
.quote{
    font-family: 'Harry Potter', sans-serif;
   color: gold;
   font-weight: lighter;
   font-size: 90px;
   text-align: center;
}
.card1{
    border: 1px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    max-width: 300px;
  }
  
#books {
    max-width: 100%;
    height: 70%;
  }

  .card2{
    border: 1px ;
    padding: 10px;
    text-align: center;
    margin: 10px;
    max-width: 300px;
  }
  #movies {
    max-width: 100%;
    height: 70%;
  }

  .card3{
    border: 1px ;
    padding: 10px;
    text-align: center;
    margin: 10px;
    max-width: 300px;
  }
  #accesories {
    max-width: 100%;
    height: 70%;
  }
  button{
    font-family: "Harry Potter",sans-serif;
    border-radius: 12px;
    border-width: 20px;
    font-size: 30px;
    color: goldenrod;
    background-color: transparent;
  }