body{
    background-image: url("https://i.pinimg.com/originals/d9/e7/5d/d9e75d75f7fd5f49ac0bb9d334c5e2a2.png");
   background-size: cover;
   background-attachment: fixed;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.movies{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
   
}
#m1{
    background-color:beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
  }
#m2{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m3{
    background-color: beige;
    border-radius:100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m4{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m5{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m6{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m7{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
#m8{
    background-color: beige;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    margin: 40px;
    max-width: 300px;
    font-family: "Harry Potter",sans-serif;
}
